body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}




body, html {
  height: 100%;
  margin: 0px;
}

@keyframes intro {

}

.footer{
  margin-bottom: 8px;
}

.title{
  font-family: "Raleway", serif;
  animation-name: intro;
  animation-duration: 2s;
}



.parallax {

  background-image: url("pics/background.jpeg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {

  background-image: url("pics/test.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column{
  float: left;
  width: 18%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 6px;
  padding: 0 8px;
}

/* for small screens, vertical cards*/
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}

.container{padding: 0 16px;}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

}

footer{
  background-color: #333;
  color: white;
  font-family: "Raleway", serif;
  padding-top: 5px;
  padding-bottom: 5px;
}












/* Style for the ABOUT PAGE */



div{
  margin: 0;
}

.about{
  border: 0px;
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", serif;
}

.about-title{
  text-align: center;
  color: blue;
  font-size: 2em;
  background-color: teal;
}

.content-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-color: white;
  border: solid;
}

.text{
  background-color: red;
  text-align: justify;
  border: solid;
  padding: 2%;
}

.quote{
  text-align: center;
  padding: 7%;
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p.star{
  color: yellow;
  font-size: 2em;
  margin: 0;
}

.image{
  background-color: blue;
  text-align: center;
  border: solid;
}
